<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Създай рецепта | MyRecipes</title>

    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="shortcut icon" href="/img/logo2.ico">

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="user-account" id="user-account" sec:authorize="!isAuthenticated()">
    <a href="/login_form">Вход</a>
    или
    <a href="/registration">Регистрация</a>
</div>

<div class="user-account" sec:authorize="isAuthenticated()">
    <form id="logoutForm" method="POST" th:action="@{/logout}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
    Добре дошли, <span sec:authentication="principal.firstName"></span> | <a onclick="document.forms['logoutForm'].submit()">Изход</a>
</div>

<header>
    <a href="/welcome">
        <div class="logo">
            <img src="/img/path2096-white.png" style="height: 40px;">
            <h1>My recipes</h1>
        </div>
    </a>
    <nav>
        <ul>
            <li><a href="/welcome"> <img src="/img/home.png" width="20"></a></li>
            <li><a href="/all-recipes">Всички рецепти</a></li>
            <li><a href="/search">Потърси рецепта</a></li>
            <li sec:authorize="hasRole('ROLE_USER')"><a href="/secret-recipes">Тайни рецепти</a></li>
            <li sec:authorize="hasRole('ROLE_USER')"><a href="/my-recipes">Мои рецепти</a></li>
            <li sec:authorize="hasRole('ROLE_USER')"><a href="/add-recipe">Добави рецепта</a></li>
            <li sec:authorize="hasRole('ROLE_USER')"><a href="/account">Профил</a></li>
        </ul>
    </nav>
</header>

<main>
        <h2>Добавяне на рецепта</h2><br>

    <hr width="60%" size="3" style="margin-top: 20px;"><br>
    <div class="forms">
        <form th:object="${request}" method="post" enctype="multipart/form-data">
            <span style="font-size: 22px;">Информация за рецептата</span> <br>
            <input name="recipeName" type="text" th:field="*{recipeName}" required placeholder="Име на рецептата..."><br>

            <input name="portions" type="number" min="0" th:field="*{portions}" required placeholder="Порции"><br>

            <input name="cookingTime" type="number" min="0" th:field="*{cookingTime}" required placeholder="Време за готвене... (в минути)">
            <br>

            <input name="category" list="category" required placeholder="Избери категория"
                   pattern="MEAT|MEATLESS|DESSERTS|ALAMINUTES|SOUPS|SALADS|DOUGH">
            <br>
            <label for="product">Продукти (по един на ред) / Пример: картофи - 1 кг /</label><br>
            <textarea id="product" name="products" th:field="*{products}" required placeholder="Продукти..."></textarea>
            <br>

            <textarea name="cookingSteps" th:field="*{cookingSteps}" required placeholder="Стъпки за приготвяне..."></textarea>

            <datalist id="category">
                <option value="MEAT">Месни</option>
                <option value="MEATLESS">Безмесни</option>
                <option value="DESSERTS">Десерти</option>
                <option value="ALAMINUTES">Аламинути</option>
                <option value="SOUPS">Супи</option>
                <option value="SALADS">Салати</option>
                <option value="DOUGH">Тестени</option>
            </datalist>
            <br>

            <label>Тайна ли е рецептата</label><br>
            <input type="radio" name="isPrivate" value="false" checked>Не
            <input type="radio" name="isPrivate" value="true">Да
            <br>

            <label for="image">Изображението трябва да е с разширение .jpg/.jpeg, не по-голямо от 2MB и
                минимално съотношение на страните 700х400 (в пиксели)</label><br>
            <input id="image" type="file" name="image" th:field="*{image}" accept=".jpg, .jpeg">
            <br><span th:text="${errorMessage}" style="color: red;"></span>
            <span th:errors="*{recipeName}" style="color: red;"></span>
            <span th:errors="*{portions}" style="color: red;"></span>
            <span th:errors="*{products}" style="color: red;"></span>
            <span th:errors="*{cookingSteps}" style="color: red;"></span>
            <span th:errors="*{cookingTime}" style="color: red;"></span>
            <span th:errors="*{image}" style="color: red;"></span>

            <br>

            <input type="Submit" value="Създай рецепта">
        </form>
    </div>
    <hr width="60%" size="3"><br>
</main>

<footer>
    <p>&copy;<span id="currentYear"></span> MyRecipes. Всички права запазени.</p>
    <nav>
        <ul>
            <li><a href="/terms-of-service#privacy-policy">Privacy Policy</a></li>
            <li><a href="/terms-of-service">Terms of Service</a></li>
        </ul>
    </nav>
</footer>

<div id="menu-icon" onclick="showMenu()">
    &#9776;
</div>
<ul id="small-menu">
    <li sec:authorize="isAuthenticated()" style="padding-top: 5px;">Добре дошли, <span sec:authentication="principal.firstName"></span></li>
    <hr>
    <li><a href="/welcome"> <img src="/img/home-green.png" width="20"></a></li>
    <hr>
    <li><a href="/all-recipes">Всички рецепти</a></li>
    <hr>
    <li><a href="/search">Потърси рецепта</a></li>
    <hr>
    <li sec:authorize="hasRole('ROLE_USER')"><a href="/secret-recipes">Тайни рецепти</a></li>
    <hr sec:authorize="hasRole('ROLE_USER')">
    <li sec:authorize="hasRole('ROLE_USER')"><a href="/my-recipes">Мои рецепти</a></li>
    <hr sec:authorize="hasRole('ROLE_USER')">
    <li sec:authorize="hasRole('ROLE_USER')"><a href="/add-recipe">Добави рецепта</a></li>
    <hr sec:authorize="hasRole('ROLE_USER')">
    <li sec:authorize="hasRole('ROLE_USER')"><a href="/account">Профил</a></li>
    <hr sec:authorize="hasRole('ROLE_USER')">
    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin-panel">Администраторски панел</a></li>
    <hr sec:authorize="hasRole('ROLE_ADMIN')">
    <li sec:authorize="!isAuthenticated()"><a href="/login_form">Вход/Регистрация</a></li>
    <hr sec:authorize="!isAuthenticated()">
    <li sec:authorize="isAuthenticated()">
        <form id="logoutFormMob" method="POST" th:action="@{/logout}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
        <a onclick="document.forms['logoutFormMob'].submit()">Изход</a>
    </li>
    <hr sec:authorize="hasRole('ROLE_USER')">
</ul>

<script src="/js/app.js"></script>
<script src="/js/currentYear.js"></script>
</body>
</html>