<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Изтриване на рецепта | MyRecipes</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="body-container">
    <div class="user-account" sec:authorize="!isAuthenticated()">
        <a href="/login_form">Вход</a>
        или
        <a href="/registration">Регистрация</a>
    </div>

    <div class="user-account" sec:authorize="isAuthenticated()">
        <form id="logoutForm" method="POST" th:action="@{/logout}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
        Добре дошли, <span sec:authentication="name"></span> | <a onclick="document.forms['logoutForm'].submit()">Излез</a>
        <!--        <small th:utext="${#strings.substringAfter("sec:authentication="'name','_'}"></small>-->
    </div>

    <div class="top-menu">
        <a href="/welcome"> <img src="/img/home.png" width="20"></a>
        <a href="/all-recipes">Всички рецепти</a>
        <a href="search">Потърси рецепта</a>
        <div sec:authorize="hasRole('ROLE_USER')" >
            <a th:href="secret-recipes" href="secret-recipes.html" >Тайни рецепти</a>
            <a href="/my-recipes">Мои рецепти</a>
            <a th:href="add-recipe" href="add-recipe.html">Добави рецепта</a>
            <a th:href="account" href="account.html">Профил</a>
        </div>
    </div>

    <div class="content">
<!--        Latest recipes-->
<!--        <br>-->
<!--        <table>-->
<!--            &lt;!&ndash;        <thead>&ndash;&gt;-->
<!--            &lt;!&ndash;        <tr>&ndash;&gt;-->
<!--            &lt;!&ndash;            <th>Latest recipes</th>&ndash;&gt;-->
<!--            &lt;!&ndash;        </tr>&ndash;&gt;-->
<!--            &lt;!&ndash;        </thead>&ndash;&gt;-->
<!--            <tbody>-->
<!--            <tr th:each="recipe: ${recipes}">-->
<!--                <td>-->
<!--                    <a th:href="@{/view-recipe/__${recipe.id}__}" th:text="${recipe.recipeName}"/>-->
<!--                </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
        <h3>Искате ли да изтриете рецептата: <span th:text="${recipe.recipeName}"></span>?</h3>

        <span>Въведете вашата парола!</span> <br>
        <form th:action="@{/delete/__${recipe.id}__}" method="post">
            <input name="passwordConfirm" type="password">
<!--            <a name="delete" th:href="@{/delete/__${recipe.id}__}">Delete</a>-->
            <input name="deleteRec" type="submit" value="Delete">
        </form>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            This content is only shown to administrators.§§
        </div>

        <div sec:authorize="hasRole('ROLE_USER')">
            This content is only shown to users.
        </div>

    </div>
</div>

</body>
</html>