<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Вход | MyRecipes</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="body-container">
    <div class="user-account" sec:authorize="!isAuthenticated()">
        <a href="/login_form">Вход</a>
        или
        <a href="/registration">Регистрация</a>
    </div>

    <div class="user-account" sec:authorize="isAuthenticated()">
        <form id="logoutForm" method="POST" th:action="@{/logout}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
        Добре дошли, <span sec:authentication="name"></span> | <a onclick="document.forms['logoutForm'].submit()">Изход</a>
    </div>

    <div class="top-menu">
        <a th:href="welcome" href="welcome.html"> <img src="/img/home.png" width="20"></a>
        <a th:href="all-recipes" href="all-recipes.html">Всички рецепти</a>
        <a href="/search">Потърси рецепта</a>
        <div sec:authorize="hasRole('ROLE_USER')" >
            <a th:href="secret-recipes" href="secret-recipes.html" >Тайни рецепти</a>
            <a href="/my-recipes">Мои рецепти</a>
            <a th:href="add-recipe" href="add-recipe.html">Добави рецепта</a>
            <a th:href="account" href="account.html">Профил</a>
        </div>
    </div>

    <div class="content">
        <div class="forms">
            <form th:action="@{/login_form}" method="post">
                <legend>Вход</legend> <br>

                Все още нямате акаунт? <a href="/registration">Регистрация</a><br><br>

                <span th:text="${message}"></span>
                <input name="email" type="text" required placeholder="Email">
                <br><br>

                <input name="password" type="password" required placeholder="Парола"><br>
                <span th:text="${error}"></span>
                <br><br>

                <input type="Submit" value="Влез"> <br>
            </form>
        </div>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            This content is only shown to administrators.§§
        </div>

        <div sec:authorize="hasRole('ROLE_USER')">
            This content is only shown to users.
        </div>

    </div>
</div>

</body>
</html>