<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Регистрация | MyRecipes</title>

    <link rel="stylesheet" href="/css/styles.css"/>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="user-account" id="user-account" sec:authorize="!isAuthenticated()">
    <a href="/login_form">Вход</a>
    или
    <a href="/registration">Регистрация</a>
</div>

<div class="user-account" sec:authorize="isAuthenticated()">
    <form id="logoutForm" method="POST" th:action="@{/logout}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
    Добре дошли, <span sec:authentication="name"></span> | <a onclick="document.forms['logoutForm'].submit()">Изход</a>
</div>

<!-- Header with logo and navigation menu -->
<header>
    <div class="logo">
        <h1>My recipes</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/welcome"> <img src="/img/home.png" width="20"></a></li>
            <li><a href="/all-recipes">Всички рецепти</a></li>
            <li><a href="/search">Потърси рецепта</a></li>
            <li sec:authorize="hasRole('ROLE_USER')"><a href="/secret-recipes">Тайни рецепти</a></li>
            <li sec:authorize="hasRole('ROLE_USER')"><a href="/my-recipes">Мои рецепти</a></li>
            <li sec:authorize="hasRole('ROLE_USER')"><a href="/add-recipe">Добави рецепта</a></li>
            <li sec:authorize="hasRole('ROLE_USER')"><a href="/account">Профил</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin-panel">Администраторски панел</a></li>
        </ul>
    </nav>
</header>

<!-- Main content section with recipe list -->
<main>
<!--    <h2>Регистрация</h2><br>-->

    <hr width="60%" size="3" style="margin-top: 20px;"><br>
    <div class="forms">
        <form th:object="${user}" method="post">
            <span style="font-size: 22px;">Регистрация</span> <br>

            Вече имате акаунт? <a href="/login_form">Вход</a><br><br>

            <input name="firstName" type="text" required placeholder="Име">
            <br>

            <input name="lastName" type="text" required placeholder="Фамилия">
            <br>

            <input name="email" type="email" required placeholder="example@mail.com">
            <br>

            <input id="pass" name="password" type="password" required placeholder="Парола">
            <br>
            <input type="checkbox" onclick="showPassword()" id="passShow"> <label for="passShow" style="font-size: 14px">покажи паролата</label>
            <br>

            <input id="cPass" name="confirmPass" type="password" required placeholder="Повтори паролата" oninput="matchPassword()"> <br>

            <span th:text="${errFirstName}" style="color: red;"></span>
            <span th:text="${errLastName}" style="color: red;"></span>
            <span th:text="${errEmail}" style="color: red;"></span>
            <span th:text="${errPass}" style="color: red;"></span>
            <span id="Message" style="color: red;"></span>
            <br>

            <input id="subm" type="Submit" value="Регистрация" disabled> <br><br>


        </form>
    </div>
    <hr width="60%" size="3"><br>
</main>

<!-- Footer with copyright and links -->
<footer>
    <p>&copy; 2023 MyRecipes. Всички права запазени.</p>
    <nav>
        <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
    </nav>
</footer>

<!-- Hamburger icon and small menu for mobile devices -->
<div id="menu-icon" onclick="showMenu()">
    &#9776;
</div>
<ul id="small-menu">
    <li sec:authorize="isAuthenticated()" style="padding-top: 5px;">Добре дошли, <span sec:authentication="name"></span></li>
    <hr>
    <li><a href="/welcome"> <img src="/img/home-green.png" width="20"></a></li>
    <hr>
    <li><a href="/all-recipes">Всички рецепти</a></li>
    <hr>
    <li><a href="/search">Потърси рецепта</a></li>
    <hr>
    <li sec:authorize="hasRole('ROLE_USER')"><a href="/secret-recipes">Тайни рецепти</a></li>
    <hr sec:authorize="hasRole('ROLE_USER')">
    <li sec:authorize="hasRole('ROLE_USER')"><a href="/my-recipes">Мои рецепти</a></li>
    <hr sec:authorize="hasRole('ROLE_USER')">
    <li sec:authorize="hasRole('ROLE_USER')"><a href="/add-recipe">Добави рецепта</a></li>
    <hr sec:authorize="hasRole('ROLE_USER')">
    <li sec:authorize="hasRole('ROLE_USER')"><a href="/account">Профил</a></li>
    <hr sec:authorize="hasRole('ROLE_USER')">
    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin-panel">Администраторски панел</a></li>
    <hr sec:authorize="hasRole('ROLE_ADMIN')">
    <li sec:authorize="!isAuthenticated()"><a href="/login_form">Вход/Регистрация</a></li>
    <hr sec:authorize="!isAuthenticated()">
    <li sec:authorize="isAuthenticated()">
        <form id="logoutFormMob" method="POST" th:action="@{/logout}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
        <a onclick="document.forms['logoutFormMob'].submit()">Изход</a>
    </li>
    <hr sec:authorize="hasRole('ROLE_USER')">
</ul>

<script src="/js/app.js"></script>
</body>
</html>