<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>Потърси рецепта | MyRecipes</title>

  <link rel="stylesheet" href="/css/styles.css"/>
  <link rel="shortcut icon" href="/img/logo2.ico">

  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="user-account" id="user-account" sec:authorize="!isAuthenticated()">
  <a href="/login_form">Вход</a>
  или
  <a href="/registration">Регистрация</a>
</div>

<div class="user-account" sec:authorize="isAuthenticated()">
  <form id="logoutForm" method="POST" th:action="@{/logout}">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
  </form>
  Добре дошли, <span sec:authentication="principal.firstName"></span> | <a onclick="document.forms['logoutForm'].submit()">Изход</a>
</div>

<header>
  <a href="/welcome">
    <div class="logo">
      <img src="/img/path2096-white.png" style="height: 40px;">
      <h1>My recipes</h1>
    </div>
  </a>
  <nav>
    <ul>
      <li><a href="/welcome"> <img src="/img/home.png" width="20"></a></li>
      <li><a href="/all-recipes">Всички рецепти</a></li>
      <li><a href="/search">Потърси рецепта</a></li>
      <li sec:authorize="hasRole('ROLE_USER')"><a href="/secret-recipes" >Тайни рецепти</a></li>
      <li sec:authorize="hasRole('ROLE_USER')"><a href="/my-recipes">Мои рецепти</a></li>
      <li sec:authorize="hasRole('ROLE_USER')"><a href="/add-recipe">Добави рецепта</a></li>
      <li sec:authorize="hasRole('ROLE_USER')"><a href="/account">Профил</a></li>
      <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin-panel">Администраторски панел</a></li>
    </ul>
  </nav>
</header>

<main>
  <h2>Намерете рецепта</h2><br>

  <div class="forms">
    <form th:action="@{/search}" method="get">
      <span th:text="${message}" style="font-size: 18px; margin-bottom: 15px;"></span><br>

      <input name="keyword" type="text" th:value="${keyword}" placeholder="Въведете ключова дума..." style="margin:5px;">
      <input name="submName" type="Submit" value="Търси по ключова дума">
      <br>
      <span th:text="${error}" style="color: red;"></span>
      <br><br>
    </form>


    <form th:action="@{/search}" method="get">
      <input name="explanation" list="explanation" placeholder="Избери категория"
             pattern="Месни|Безмесни|Десерти|Аламинути|Супи|Салати|Тестени"  style="margin:5px">
      <datalist id="explanation">
        <option value="Месни">Месни</option>
        <option value="Безмесни">Безмесни</option>
        <option value="Десерти">Десерти</option>
        <option value="Аламинути">Аламинути</option>
        <option value="Супи">Супи</option>
        <option value="Салати">Салати</option>
        <option value="Тестени">Тестени</option>
      </datalist>

      <input name="submCategory" type="Submit" value="Търси по категория">
      <br>
      <span th:text="${errorCat}" style="color: red;"></span>
    </form>
  </div>
  <hr width="60%" height="3px"><br>

  <ul class="recipe-list" >
    <li th:each="recipe: ${recipesFound}">
      <img th:if="${recipe.image}" th:src="@{'/recipes/image/{id}'(id=${recipe.id})}"
           alt="Recipe image" height="150px">
      <img th:unless="${recipe.image}" src="/img/missing-image.jpg"
           alt="Recipe image" height="150px">
      <h3 th:text="${recipe.recipeName}"></h3>
      <p>Категория: <span th:text="${recipe.category.getExplanation()}"></span></p>
      <a th:href="@{/view-recipe/{id}(id=${recipe.id})}">Виж рецептата</a>
    </li>
  </ul>
</main>

<footer>
  <p>&copy;<span id="currentYear"></span> MyRecipes. Всички права запазени.</p>
  <nav>
    <ul>
      <li><a href="/terms-of-service#privacy-policy">Privacy Policy</a></li>
      <li><a href="/terms-of-service">Terms of Service</a></li>
    </ul>
  </nav>
</footer>

<div id="menu-icon" onclick="showMenu()">
  &#9776;
</div>
<ul id="small-menu">
  <li sec:authorize="isAuthenticated()" style="padding-top: 5px;">Добре дошли, <span sec:authentication="principal.firstName"></span></li>
  <hr>
  <li><a href="/welcome"> <img src="/img/home-green.png" width="20"></a></li>
  <hr>
  <li><a href="/all-recipes">Всички рецепти</a></li>
  <hr>
  <li><a href="/search">Потърси рецепта</a></li>
  <hr>
  <li sec:authorize="hasRole('ROLE_USER')"><a href="/secret-recipes" >Тайни рецепти</a></li>
  <hr sec:authorize="hasRole('ROLE_USER')">
  <li sec:authorize="hasRole('ROLE_USER')"><a href="/my-recipes">Мои рецепти</a></li>
  <hr sec:authorize="hasRole('ROLE_USER')">
  <li sec:authorize="hasRole('ROLE_USER')"><a href="/add-recipe">Добави рецепта</a></li>
  <hr sec:authorize="hasRole('ROLE_USER')">
  <li sec:authorize="hasRole('ROLE_USER')"><a href="/account">Профил</a></li>
  <hr sec:authorize="hasRole('ROLE_USER')">
  <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin-panel">Администраторски панел</a></li>
  <hr sec:authorize="hasRole('ROLE_ADMIN')">
  <li sec:authorize="!isAuthenticated()"><a href="/login_form">Вход/Регистрация</a></li>
  <hr sec:authorize="!isAuthenticated()">
  <li sec:authorize="isAuthenticated()">
    <form id="logoutFormMob" method="POST" th:action="@{/logout}">
      <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
    <a onclick="document.forms['logoutFormMob'].submit()">Изход</a>
  </li>
  <hr sec:authorize="hasRole('ROLE_USER')">
</ul>

<script src="/js/app.js"></script>
<script src="/js/currentYear.js"></script>
</body>
</html>