<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Условия на ползване и Политика на поверителност| MyRecipes</title>

    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="shortcut icon" href="/img/logo.ico">

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="user-account" id="user-account" sec:authorize="!isAuthenticated()">
    <a href="/login_form">Вход</a>
    или
    <a href="/registration">Регистрация</a>
</div>

<div class="user-account" sec:authorize="isAuthenticated()">
    <form id="logoutForm" method="POST" th:action="@{/logout}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
    Добре дошли, <span sec:authentication="name"></span> | <a onclick="document.forms['logoutForm'].submit()">Изход</a>
</div>

<!-- Header with logo and navigation menu -->
<header>
    <div class="logo">
        <h1 class="my-recipes"><a href="/welcome">My recipes</a></h1>
    </div>
    <nav>
        <ul>
            <li><a href="/welcome"> <img src="/img/home.png" width="20"></a></li>
            <li><a href="/all-recipes">Всички рецепти</a></li>
            <li><a href="/search">Потърси рецепта</a></li>
            <li sec:authorize="hasRole('ROLE_USER')"><a href="/secret-recipes" >Тайни рецепти</a></li>
            <li sec:authorize="hasRole('ROLE_USER')"><a href="/my-recipes">Мои рецепти</a></li>
            <li sec:authorize="hasRole('ROLE_USER')"><a href="/add-recipe">Добави рецепта</a></li>
            <li sec:authorize="hasRole('ROLE_USER')"><a href="/account">Профил</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin-panel">Администраторски панел</a></li>
        </ul>
    </nav>
</header>

<main>
    <h2>Условия на ползване и Политика на поверителност</h2><br>

    <hr width="60%" size="3" style="margin-top: 20px;"><br>
    <div class="content">
        <div style="text-align:left">
            <h3>Условия на ползване (Terms of service)</h3>
            <p>Моля, прочетете внимателно следните Условия на ползване (Terms of Service), които регулират използването
                на нашия уебсайт и свързаните с него услуги. При достъпването или използването на нашия уебсайт, вие се
                съгласявате да спазвате и бъдете свързани от тези Условия на ползване. Ако не сте съгласни с тези
                условия, моля, прекратете използването на уебсайта незабавно.</p>
            <ol>
                <li>
                    <strong>Потребителски акаунт:</strong>
                    <p>За да използвате някои от функциите на нашия уебсайт, може да ви бъде изискана регистрация на
                        потребителски акаунт. Вие носите отговорност за предоставянето на точна и актуална информация
                        при създаването на акаунта си и за запазването на паролата си в тайна. Всички дейности, свързани
                        с вашият профил, ще бъдат считани за ваша отговорност.</p>
                </li>
                <li>
                    <strong>Ограничения на ползване:</strong>
                    <p>При ползването на нашия уебсайт вие се задължаватеда спазвате всички приложими закони и
                        регулации. Не е позволено да извършвате следните действия:</p>
                    <ul>
                        <li>
                            Публикуване, предаване или споделяне на незаконно, обидно, заплашително, вредно,
                            клеветническо, порнографско или друго неподходящо съдържание.
                        </li>
                        <li>
                            Нарушаване на интелектуалната собственост на трети страни, включително авторски права,
                            патенти, търговски марки или търговски тайни.
                        </li>
                        <li>
                            Извършване на действия, които могат да причинят прекъсване или вреда на функционалността
                            на уебсайта или свързаните с него услуги.
                        </li>
                        <li>
                            Неправомерен достъп до информацията на други потребители или нарушаване на тяхната
                            поверителност.
                        </li>
                        <li>
                            Използване на уебсайта с комерсиална цел без предварително писмено съгласие от наша страна.
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>Готварски рецепти и коментари:</strong>
                    <p>Потребителите могат да създават готварски рецепти и да пишат коментари под тях. Вие се
                        съгласявате, че всички съдържание, което публикувате на уебсайта, е в съответствие с
                        приложимите закони и не нарушава правата на трети страни. Ние си запазваме правото да
                        премахваме или редактираме всяко съдържание, което смятаме за неподходящо или нарушаващо
                        тези Условия на ползване.</p>
                </li>
                <li>
                    <strong>Външни връзки:</strong>
                    <p>Нашият уебсайт може да съдържа връзки към уебсайти на трети страни. Ние не носим отговорност за
                        съдържанието, точността или достъпността на тези уебсайти. Връзките към трети страни се
                        предоставят само за ваше удобство и използването им е на ваш риск.</p>
                </li>
                <li>
                    <strong>Отказ от отговорност:</strong>
                    <p>Ние правим всичко възможно да осигурим точността и надеждността на информацията, публикувана на
                        уебсайта. Въпреки това, не можем да гарантираме пълната й точност или актуалност. Използването
                        на нашия уебсайт е на ваша отговорност и риск.</p>
                </li>
                <li>
                    <strong>Промени в Условията на ползване:</strong>
                    <p>Задължаваме се да актуализираме тези Условия на ползване през определен период от време.
                        Продължавайки да използвате нашия уебсайт след всяка промяна, вие изрично се съгласявате с
                        обновените Условия на ползване.</p>
                </li>
                <li>
                    <strong>Край на ползването:</strong>
                    <p>Ние си запазваме правото да прекратим или ограничим вашия достъп до нашия уебсайт по всяко
                        време и без предизвестие, ако установим нарушение на тези Условия на ползване или ако сме на
                        мнение, че вашето поведение е вредно за нас или за други потребители.</p>
                    <a name="privacy-policy"></a>
                </li>
            </ol><br>

            <span>Дата на влизане в сила: 27 май 2023г.</span>
        </div>

        <hr>

        <div style="text-align:left; margin-top: 40px;">
            <h3>Политика на поверителност (Privacy policy)</h3>
            <p>Настоящата Политика на поверителност обяснява как събираме, използваме, съхраняваме и защитаваме
                личната информация, която се предоставя при използването на нашия уебсайт. Признаваме важността на
                поверителността и сме посветени на защитата на личните данни на нашите потребители. Моля, прочетете
                внимателно тази политика, за да разберете каква информация събираме и как я използваме.</p>
            <ol>
                <li>
                    <strong>Събиране на информация:</strong>
                    <p>При регистрацията на нашия уебсайт, ще ви бъде поискано да предоставите някои лични данни като
                        вашето име, фамилно име, парола и имейл адрес. Тази информация ще бъде използвана за създаване
                        на вашия потребителски профил и за осигуряване на достъп до функциите на уебсайта.</p>
                </li>
                <li>
                    <strong>Използване на информацията:</strong>
                    <p>Личната информация, която ни предоставяте, ще бъде използвана само за целите, за които е била
                        събрана. Ние използваме вашата информация, за да ви предоставим достъп до функциите на
                        уебсайта, да осигурим поддръжка на потребителите и да ви изпращаме имейли, свързани със
                        заявени от вас услуги.</p>
                </li>
                <li>
                    <strong>Съхранение на информацията:</strong>
                    <p>Вашата лична информация ще бъде съхранявана в нашите сигурни бази данни за период, необходим
                        за постигане на целите, за които е била събрана. Спазваме подходящи технически и организационни
                        мерки за защита на информацията от неразрешен достъп, загуба, злоупотреба или повреда.</p>
                </li>
                <li>
                    <strong>Споделяне на информацията:</strong>
                    <p>Не споделяме вашата лична информация с трети страни без вашето изрично съгласие, освен ако това
                        не е необходимо за предоставянето на услугите, които сте поискали, или ако сме задължени да го
                        направим съгласно законовите изисквания.</p>
                </li>
                <li>
                    <strong>Безопасност:</strong>
                    <p>Прилагаме различни мерки за защита на вашата лична информация от неразрешен достъп, загуба или
                        повреда. Въпреки това, че полагаме всички усилия, за да защитим вашата
                        информация, не можем да гарантираме абсолютна сигурност на данните при предаването
                        им през интернет.</p>
                </li>
                <li>
                    <strong>Промени в Политиката на поверителност:</strong>
                    <p>Задължаваме се да актуализираме Политиката на поверителност през определен период от време.
                        Продължавайки да използвате нашия уебсайт след всяка промяна, вие изрично се съгласявате с
                        обновената Политика на поверителност.</p>
                </li>
            </ol><br>
            <span>Дата на влизане в сила: 27 май 2023г.</span>

        </div>
    </div>
    <hr width="60%" size="3"><br>
</main>

<footer>
    <p>&copy; 2023 MyRecipes. Всички права запазени.</p>
    <nav>
        <ul>
            <li><a href="/terms-of-service#privacy-policy">Privacy Policy</a></li>
            <li><a href="/terms-of-service">Terms of Service</a></li>
        </ul>
    </nav>
</footer>

<div id="menu-icon" onclick="showMenu()">
    &#9776;
</div>
<ul id="small-menu">
    <li sec:authorize="isAuthenticated()" style="padding-top: 5px;">Добре дошли, <span sec:authentication="name"></span></li>
    <hr>
    <li><a href="/welcome"> <img src="/img/home-green.png" width="20"></a></li>
    <hr>
    <li><a href="/all-recipes">Всички рецепти</a></li>
    <hr>
    <li><a href="/search">Потърси рецепта</a></li>
    <hr>
    <li sec:authorize="hasRole('ROLE_USER')"><a href="/secret-recipes">Тайни рецепти</a></li>
    <hr sec:authorize="hasRole('ROLE_USER')">
    <li sec:authorize="hasRole('ROLE_USER')"><a href="/my-recipes">Мои рецепти</a></li>
    <hr sec:authorize="hasRole('ROLE_USER')">
    <li sec:authorize="hasRole('ROLE_USER')"><a href="/add-recipe">Добави рецепта</a></li>
    <hr sec:authorize="hasRole('ROLE_USER')">
    <li sec:authorize="hasRole('ROLE_USER')"><a href="/account">Профил</a></li>
    <hr sec:authorize="hasRole('ROLE_USER')">
    <li sec:authorize="!isAuthenticated()"><a href="/login_form">Вход/Регистрация</a></li>
    <hr sec:authorize="!isAuthenticated()">
    <li sec:authorize="isAuthenticated()">
        <form id="logoutFormMob" method="POST" th:action="@{/logout}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
        <a onclick="document.forms['logoutFormMob'].submit()">Изход</a>
    </li>
    <hr sec:authorize="hasRole('ROLE_USER')">
</ul>

<script src="/js/app.js"></script>
</body>
</html>