<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${recipe.recipeName +' | MyRecipes'}"></title>

    <link rel="stylesheet" href="/css/styles.css"/>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="user-account" id="user-account" sec:authorize="!isAuthenticated()">
    <a href="/login_form">Вход</a>
    или
    <a href="/registration">Регистрация</a>
</div>

<div class="user-account" sec:authorize="isAuthenticated()">
    <form id="logoutForm" method="POST" th:action="@{/logout}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
    Добре дошли, <span sec:authentication="name"></span> | <a onclick="document.forms['logoutForm'].submit()">Изход</a>
</div>

<!-- Header with logo and navigation menu -->
<header>
    <div class="logo">
        <h1>My recipes</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/welcome"> <img src="/img/home.png" width="20"></a></li>
            <li><a href="/all-recipes">Всички рецепти</a></li>
            <li><a href="/search">Потърси рецепта</a></li>
            <li sec:authorize="hasRole('ROLE_USER')"><a href="/secret-recipes" >Тайни рецепти</a></li>
            <li sec:authorize="hasRole('ROLE_USER')"><a href="/my-recipes">Мои рецепти</a></li>
            <li sec:authorize="hasRole('ROLE_USER')"><a href="/add-recipe">Добави рецепта</a></li>
            <li sec:authorize="hasRole('ROLE_USER')"><a href="/account">Профил</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin-panel">Администраторски панел</a></li>
        </ul>
    </nav>
</header>

<!-- Main content section with recipe list -->
<main>
    <h2 th:text="${recipe.recipeName}"></h2><br>

    <hr width="60%" size="3" style="margin-top: 20px;"><br>
    <div class="content">
                <div style="float:left" >
                    <img th:if="${recipe.image}" th:src="@{'/recipes/image/{id}'(id=${recipe.id})}"
                         alt="Recipe image" width="90%"></a>
                    <img th:unless="${recipe.image}" src="/img/missing-image.jpg"
                         alt="Recipe image" width="40%"></a>
                </div>

                <div class="leftSpl">
                    <strong>Необходими продукти:</strong> <br>
                    <ul style="text-align: left;">
                        <li th:each="product: ${recipeProducts}" th:text="${product}"></li>
                    </ul>

                    <strong>Порции:</strong>
                    <span th:text="${recipe.portions}"></span>
                    <br><br>
                    <strong>Време за приготвяне:</strong>
                    <span th:text="${recipe.cookingTime} + ' мин.'"></span>
                    <br><br>
                    <strong>Категория:</strong>
                    <span th:text="${recipe.category.getExplanation()}"></span>
                    <br>
                    <span sec:authorize="hasRole('ROLE_USER')" th:if="${user.email} == ${userByRecipe}"><a th:href="@{/edit-recipe/__${recipe.id}__}">Редактирай</a></span>
                    <span sec:authorize="isAuthenticated()"
                          th:if="${user.email} == ${userByRecipe} or ${#authorization.expression('hasRole(''ADMIN'')')}"
                          class="deleteButton">
                    <a th:href="@{/delete-recipe/__${recipe.id}__}" >Изтрий</a></span>
                </div>
                <div style="clear: both; padding-top: 30px;">
                    <strong>Начин на приготвяне:</strong> <br>
                    <span th:text="${recipe.cookingSteps}"></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <div class="comments">
                        <h4>Коментари</h4>
                        <span th:if="${commentDeleted}" th:text="${commentDeleted}" style="background-color: Aquamarine"></span>

                        <ul class="comment-list" th:if="${recipeComments}">
                            <li th:each="comment : ${recipeComments}">
                                <div class="comment-details">
                                    <h5 th:text="${comment.user.firstName + ' ' + comment.user.lastName + ':'}"></h5>
                                    <p class="comment-date" th:text="${comment.getFormattedCommentDate()}"></p>
                                </div>
                                <p class="comment-text" th:text="${comment.commentText}"></p>
<!--                                <a th:if="${currentUser}" th:href="@{/view-recipe/__${recipe.id}__/delete-comment/__${comment.commentId}__}">Изтриване на коментар</a>-->
                                <span sec:authorize="isAuthenticated()"
                                      th:if="${user.id} == ${comment.user.id} or ${user.email} == ${userByRecipe}"
                                      class="deleteButton" style="font-size: 16px;">
                                <a th:unless="${showForm}" th:href="@{/view-recipe/__${recipe.id}__/delete-comment/__${comment.id}__}">Изтриване на коментар</a></span>
                                <div th:if="${showForm} and ${comment.id} == ${commentToDelete.id}" class="form-comDel">
                                    <form th:action="@{/view-recipe/__${recipe.id}__/delete-comment/__${comment.id}__}" method="post">
                                        <span style="margin-bottom: 20px; font-size: 18px; decoration: underline;">Сигурни ли сте, че искате да изтриете коментара?</span> <br>
                                        <input name="deleteComment" type="submit" value="Изтрий">
                                    </form>
                                </div>
                            </li>
                        </ul>
                        <span th:unless="${recipeComments}">Все още няма коментари за тази рецепта...</span>
                        <div sec:authorize="!isAuthenticated()">
                            <span style="font-size: 18px;">Не сте в профила си. <a href="/login_form">Влезте</a>, за да добавите коментар</span>
                        </div>

                        <form class="comment-form" sec:authorize="isAuthenticated()" th:action="@{/view-recipe/__${recipe.id}__/add-comment}" method="post">
                            <h3>Добави коментар</h3>
                            <span th:if="${approvalAwait}" th:text="${approvalAwait}" style="font-size: 16; color: DodgerBlue; font-style: italic;"></span>
                            <div class="form-group">
                                <textarea name="commentText"
                                          placeholder="Напишете вашия коментар тук..." required></textarea>
                            </div>
                            <input name="addComment" type="submit" value="Добави коментар">
                        </form>
                    </div>
                    <br>
                    Рецепти от същата категория:
                    <br><hr width="60%" size="3">
                    <div th:unless="${noSimilar}">
                    <ul class="recipe-list" style="font-size: 20px;">
                        <li th:each="recipe: ${recipes}">
                            <img th:if="${recipe.image}" th:src="@{'/recipes/image/{id}'(id=${recipe.id})}"
                                 alt="Recipe image" width="300px">
                            <img th:unless="${recipe.image}" src="/img/missing-image.jpg"
                                 alt="Recipe image" width="300px">
                            <h3 th:text="${recipe.recipeName}"></h3>
                            <p>Категория: <span th:text="${recipe.category.getExplanation()}"></span></p>
                            <a th:href="@{/view-recipe/{id}(id=${recipe.id})}">Виж рецептата</a>
                        </li>
                    </ul>
                    </div>
                    <div th:if="${noSimilar}"><span th:text="${noSimilar}" style="font-style: italic;"></span></div>
                </div>
            </div>
    <hr width="60%" size="3"><br>
</main>

<!-- Footer with copyright and links -->
<footer>
    <p>&copy; 2023 MyRecipes. Всички права запазени.</p>
    <nav>
        <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
    </nav>
</footer>

<!-- Hamburger icon and small menu for mobile devices -->
<div id="menu-icon" onclick="showMenu()">
    &#9776;
</div>
<ul id="small-menu">
    <li sec:authorize="isAuthenticated()" style="padding-top: 5px;">Добре дошли, <span sec:authentication="name"></span></li>
    <hr>
    <li><a href="/welcome"> <img src="/img/home-green.png" width="20"></a></li>
    <hr>
    <li><a href="/all-recipes">Всички рецепти</a></li>
    <hr>
    <li><a href="/search">Потърси рецепта</a></li>
    <hr>
    <li sec:authorize="hasRole('ROLE_USER')"><a href="/secret-recipes">Тайни рецепти</a></li>
    <hr sec:authorize="hasRole('ROLE_USER')">
    <li sec:authorize="hasRole('ROLE_USER')"><a href="/my-recipes">Мои рецепти</a></li>
    <hr sec:authorize="hasRole('ROLE_USER')">
    <li sec:authorize="hasRole('ROLE_USER')"><a href="/add-recipe">Добави рецепта</a></li>
    <hr sec:authorize="hasRole('ROLE_USER')">
    <li sec:authorize="hasRole('ROLE_USER')"><a href="/account">Профил</a></li>
    <hr sec:authorize="hasRole('ROLE_USER')">
    <li sec:authorize="!isAuthenticated()"><a href="/login_form">Вход/Регистрация</a></li>
    <hr sec:authorize="!isAuthenticated()">
    <li sec:authorize="isAuthenticated()">
        <form id="logoutFormMob" method="POST" th:action="@{/logout}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
        <a onclick="document.forms['logoutFormMob'].submit()">Изход</a>
    </li>
    <hr sec:authorize="hasRole('ROLE_USER')">
</ul>

<script src="/js/app.js"></script>
</body>
</html>